[Desktop Entry]
Name=Qupil
Name[tr]=Qupil
Name[de]=Qupil
Exec=qupil
Icon=qupil
GenericName=Pupil and Lessonmanager
GenericName[de]=Unterrichtsmanagement für Instrumentalpädagogen
Comment=Unterrichtsmanagement für Instrumentalpädagogen
Comment[de]=Unterrichtsmanagement für Instrumentalpädagogen
Terminal=false
Type=Application
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;Office
