[Desktop Entry]
Name=Qupil
Name[tr]=Qupil
Name[de]=Qupil
Exec=qupil
Icon=qupil
GenericName=Pupils and lesson manager for instrumental teachers
GenericName[de]=Unterrichtsmanagement für Instrumentalpädagogen
Comment=helpful for daily management tasks
Comment[de]=hilfreich für tägliche organisatorische Abläufe
Terminal=false
Type=Application
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;Office
